*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
}

html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-image: url('../Assets/Landscape.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@media (orientation:portrait) {
    html{
        background-image: url('../Assets/Portrait.jpg');
    }
}